div p{
    color: black;
    line-height: 25px;
    font: 1.5em "Fira Sans", sans-serif;
}

.about h1 span{
    font-size: 30px;
    color: aqua;
}
.about p{
    color: black;
    font: 1.5em "Fira Sans", sans-serif;
}
.container{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 250px;
}