.container{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.myimg{
    width: 200px;
    width: 160px;
    border: 10px solid aqua;
    margin: 0 15px;
    margin-left:65%;
}
.myimg:hover {
    transform: scaleX(-1);
}
.activities h1{
    font-size: 30px;
    margin-left: 30%;
    text-align: center;
    margin:auto;
    margin-top: 3%;
    background-color: rgb(70, 113, 131);
    margin-bottom: 110px;
}
.activities h1 p{
    font: 0.7em "Fira Sans", sans-serif;
    text-align: center;
}