.body {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.navbar {

    display: flex;
    flex-direction:column;
}
nav{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
    padding-left: 50%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

nav ul li a:hover{
      color: aqua;
}
.detail{
    margin-top: 4%;
    margin-left: 10%;
}
.detail h1{
    font-size: 60px;
    color: black;
    margin-bottom: 10px;
}
span{
    color: aqua;
}
div p{
    color: black;
    line-height: 25px;
    font-weight: bolder;
}
.img2{
    cursor: pointer;
    height: 80vh;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(45%);
    transition: bottom 1s, left 1s;
}
.img2{
    border-radius: 10%;
    background-color: rgb(245, 177, 52);
    height: 450px;
    width: 300px;
    border: 10px solid rgb(24, 23, 23);
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 20%;
    bottom: 0;
    transform: translateX(55%);
    transition: top 1s, left 1s;
}
.img2{
    top: 120px;
    border-color: black;
    background-color: transparent;
    background-color: #212121;
}
.img1{
}
