body {
    background-color: rgb(88, 124, 139);
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    flex-direction:column;
}
nav{
    display: flex;
    margin: auto;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

nav ul li a:hover{
      color: black;
}
.detail{
  
    margin-left: 5%;
    position: absolute;
    top: 25%;
    text-align: center;
}
.detail h1{
    font-size: 60px;
    color: black;
    margin-bottom: 10px;
}

div p{
    color: black;
    line-height: 25px;
    font-weight: bolder;
}

.about h1 span{
    font-size: 30px;
    color: aqua;
}
.about p{
    color: black;
    font-size: 20px;
}

/*Footer*/

.footer {
  text-align: center;
  padding: -5%;
  background-color: rgb(9, 62, 85);
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-decoration: none;

  
}
.footer h1{
    color: aqua;
}

.footer a{
  color: rgb(255, 166, 166);
  display: inline-block;
  margin: 20px;
  font-size: 20px;
}